﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CustomerList.aspx.cs" Inherits="ACompany.OrderProcessing.UI.Web.CustomerList1" %>

<%@ Register Src="CustomerList.ascx" TagName="CustomerList" TagPrefix="UCtl" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
		<UCtl:CustomerList ID="CustomerListUserControl" runat="server"></UCtl:CustomerList>
    </div>
    </form>
</body>
</html>
